/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import "bootstrap-sprockets";
@import "bootstrap";

//.alexa-container{
//  height: 400px;
//  width: 500px;
//  margin: 0 auto;
//  overflow: scroll;
//  border: 1px solid gray;
//
//  /* Safari 4.0 - 8.0 */
//  @-webkit-keyframes mymove {
//    50% {border-radius: 50px;}
//  }
//
//  @keyframes mymove {
//    50% {border-radius: 50px;}
//  }
//}

body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.chatbox {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  text-align: right;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
  text-align: left!important;
}

.chatbox::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  //max-width: 60px;
  //width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}